$font1: 'Oleo Script', cursive;
$font2: 'Roboto', sans-serif;

.icons {
    padding-top: 0;
    margin-top: 0;
    height: 100%;
    button {
        margin-left: 10px;
        margin-right: 20px;
        padding: 0;
        width: 30px;
        background: none;
        border: none;
    }

    .heart {
        width: 35px;
        height: 100%;
    }

    .quote {
        width: 30px;
        height: 100%;
        padding-right: 10px;
    }
}

//likes text
.likes {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 10px;
    font-family: $font2;
    font-weight: 500;
    font-size: 14px;
}